[user]
	name = Eduardo Hilário
	email = eduhilario@proton.me
	signingkey = '~/.ssh/id_ed25519.pub'
 
[core]
	editor = nvim
	autocrlf = false
	sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
[init]
	defaultBranch = main
[credential]
	helper = wincred
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = false
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
[alias]
	ck = checkout
