Browser/Brave/User Data/Default/Cache
Browser/Brave/User Data/Default/Code Cache
Browser/Brave/User Data/Default/DawnCache
Browser/Brave/User Data/GraphiteDawnCache
Browser/Brave/User Data/GrShaderCache
Browser/Brave/User Data/Default/GPUCache
Browser/Brave/User Data/Default/Sessions
Browser/Brave/User Data/lockfile
Browser/Brave/User Data/ShaderCache
Browser/Brave/User Data/Default/Network/Cookies
Browser/Brave/User Data/Local State
Browser/Brave/User Data/Default/Network/Cookies
Browser/Brave/User Data/BraveWallet
Browser/Brave/User Data/Default/Service Worker/CacheStorage
Browser/Brave/User Data/Default/WebStorage
.log
*.log
